body{
    height:100vh;
    overflow:hidden;
    display: flex;
    align-items: center;
}

.container{
    margin-top:5vh;
    padding-bottom:5vh;
    min-height:0;
    max-width:85%;
}

.heading{
    margin:1rem;
}

.watchers{
    width:90%;
}

.welcome{
    font-size:1rem;
}

.navigation{
    display:none !important;
}

@media only screen and (min-width: 600px) {

    .welcome{
        margin: 1.5rem;
        font-size: 1.5rem;
    }
}

