body{
    background-color:black;
    background-image:url(../static/bkg2.png);
    background-repeat:repeat;
    max-width:100vw;
    max-height:100vh;
}
.container{
    max-width:90%;
    min-height:80vh;
    background-color:black;
    color:white;
    text-align:center;
    margin-bottom:10vh;
}

.theme-font{
    font-family: 'Fredoka One', cursive;
}

.heading{
    font-size:2rem;
    margin-top: 2rem;
}

img{
    width:100%;
}

.welcome{
    font-size:1rem;
}

.option, .home-options{
    background-color: #00CECB;
    color:black;
    font-family: 'Fredoka One';
    border-radius: 1rem;
}

.option:hover{
    cursor:pointer;
}

.option{ 
    font-size:1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.home-options{
    font-size: 1.5rem;
    padding: 0.3rem;
    margin: 0.3rem;
    min-width:90%;
}

.home-options a, .option a{
    text-decoration: none;
    color: black;
}


.cards{
    border:#00CECB solid 1px;
    color: white;
    background-color: black;
    margin:3px;
    margin-bottom:1rem;
}

.card-body{
    padding-bottom: 0 !important;
}

.mob-title{
    font-weight:800;
}

.mob-genre{
    font-size:0.8rem;
}
.hide{
    display:none;
}

.age-certificate{
    width:2rem;
    height:2rem;
    float:right;
}

.buttons-row{
    margin-bottom:2rem;
}

.navigation a{
    text-decoration:none;
    color:white;
    font-size:1rem;
    transition: font-size 1s;
}

.navigation a:hover{
    color:#00CECB;
    font-size:1.3rem;
}

.navigation{
    border-bottom: #00CECB solid 1px;
}

.logo-text{
    font-size:1.2rem;
    position: relative;
    top: 25px;
}
.movie-logo{
    background-image:url(../static/logo.png);
    background-size: cover;
    margin-right: 0.5rem;
    width: 4rem;
    height: 4rem;
    float:left;
}

.single_heading{
    padding:2rem;
    font-size:2rem;
}

.single_description{
    padding:0 1rem;
    padding-top:2rem;
    text-align:justify;
}

.add_watchlist{
    border:2px solid #00CECB;
    color:aquamarine;
    font-weight:bolder;
    padding:1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    box-shadow: 3px 3px grey;
}

/*   TABLET   */
@media only screen and (min-width: 600px) {

    .logo-text{
        font-size:2rem;
    }

    .heading{
        font-size:3rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .navigation a {
        font-size:1.5rem;
    }

    .navigation a:hover{
        font-size:2rem;
    }

    .option{
        font-size: 1.5rem;
        padding:1rem;
        margin:1rem;
    }

    .container{
        max-width:90%;
    }

    .mob-title{
        font-size:1.2rem;
    }

    .cards{
        width:30%;
    }

    .single_description{
        padding-top:0;
        font-size:1.3rem;
    }
}

@media only screen and (min-width:850px){
    .cards{
        width:24%;
    }
}

@media only screen and (min-width: 1200px) {
    .heading{
        font-size: 3rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    
    .age-certificate{
        width:3rem;
        height:3rem;
    }

    .option{
        margin:0.5rem;
    }

    .mob-title{
        font-size:2rem;
    }

    .cards{
        width:24%;
        margin-left: 0.3rem;
    }

    .single_description{
        font-size:1.5rem;
    }

    img.single_image{
        width:75%;
    }
}

